#div-relative{
  position:relative;
} 

#navi{ position:absolute;left:0px;top:0px;z-index:100;width:100%;height:50px;opacity:0.8;} 


#about_main{ position:absolute;top:80px;z-index:100;text-align:center} 

#img_about{ position:absolute;bottom:180px;z-index:100;} 

#about_footer{ position:absolute;bottom:5px;z-index:100;text-align:center} 
